<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Second Ionic App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Hayat Townhouse</ion-card-subtitle>
      <ion-card-title>Nshama Townsquare</ion-card-title>
    </ion-card-header>
  <img src="assets/hayat.jpg" alt="">
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
 
</ion-content>
